h1 {
  color: blue;
  font-size:30px;
  background-color:#f3f372;
  height:80px;
  width:200px;
  font-family:serif;
}
p{
  color:green;
  font-size:20px;
  height:50;
  width:100px;
}
h2 {
  color: #0000ff;
  font-family: serif;
  background: #ffd800;
}
img {
  width: 500px;
  height: 200px;
}
li {
  color: red;
}
.footer{
  background-color:

.flooter-logo{
  font-size:32px;
  float:left;
}
.flooter-list{
  float: right;
}
.flooter-list li{
  padding-bottom:20px;
}
  
