h1 {
  color: #fff000;
  font-size: 40px;
  background: #dddddd;
  width: 70px; 
  height: 20px;
  background-color: #9de8ea;
}
h2 {
  color: #0000ff;
  font-family: serif;
  background: #ffd800;
}
img {
  width: 500px;
  height: 200px;
}
li {
  color: red;
}
